<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%} {%  endblock %} | App </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            body { font-family: system-ui, sans-serif; }
        </style>
    </head>

    <body class="bg-red-100">

        <div class="max-w-4xl mx-auto p-6">
            {% block content %}

            {% endblock %}
        </div>
        
    

    </body>

</html>
